<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OmegaPetShop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style>:root{

    --red:rgb(230, 21, 21);
    
}




*{
  margin:0; padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
outline:none ; border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}

html{
    font-size: 62.5%; 
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding: 1rem 7%;

}

.heading{
text-align:center; 
font-size: 4rem;
color: #0a0a0a;
padding:3rem;
margin:3rem 0;
background:#f5f4f3;
}

.heading span{
    color: #eb930f;
    
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#ff9800;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 2rem;
    
}

.btn:hover{
    background:#0a0a0a;
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: #ecab0f;
    padding: 2rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0,.1);
}

header .logo{
    font-size:4rem;
    color: #0a0a0a;
    font-weight: bolder;
}

header .logo span{
    color:#0f1b07;
}

header .navbar a{
    font-size: 2.5rem ;
    padding:0 1.0rem ;
    color:#0a0a0a;
}
header .navbar a:hover{
    color:#ffff72;
}


header .icons a{
    font-size: 3rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:#ffff72;
}

header #toggle{
    display: none;
 
}
header .fa-bars{
    font-size: 4rem;
    color: #0a0a0a;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgb(19, 18, 18);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 130vh;
    background: url(../img/salchicha2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{

    max-width: 50rem;

}

.home .content h3{
    font-size: 5rem;
    color: #ffff;
   
}


.home .content span{
    font-size: 3.5rem;
    color:#ffff;
    padding:1rem 0 ;
    line-height: 1.5;

    
}

.home .content span{
    font-size: 3.5rem;
    color:#ff9800;
     padding:1rem 0 ;
    line-height: 1.5;

    
}

.home .content p{
    font-size: 2rem;
    color:#ffff;
     padding:1rem 0 ;
    line-height: 1.5;

    
}

.about .row{
display: flex;
align-items: center;
gap:2rem;
flex-wrap: wrap;
padding:2rem 0;
padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;

}


.about .row .video-container video{

    width:100%;
    border:1.5rem solid #ffff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem #eb930f;
    height: 100%;
    object-fit: cover;
   
}

.about .row .video-container h3 {
    
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 3rem;
    background:#fff;
    width:100%;
    padding:1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
   

}

.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3 {

    font-size: 3rem;
    color: #eb930f;


}


.about .row .content p {

    font-size: 1.5rem;
    color: #020202;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5 ;
}

.icons-container{
    background:#eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.icons-container .icons{
    background: #eb930f;
    border: .1rem solid #0f1b07 ;
    padding:2rem;
    display: flex;
    align-items: center;
    flex:1 1 15rem;
    
}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container h3{
    color:#333;
    padding-bottom: .5rem;
    font-size: 2rem ;

}

.icons-container span{
    color:#080808;
    font-size: 1.8rem ;

}




.productos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;

}


.productos .box-container .box{

    flex:1 1 30rem;
    box-shadow: 0.5rem 1rem #ebd5b3;
    border-radius: .5rem;
    border:.1rem solid #020202;
    position: relative;
}

.productos .box-container .box .discount{
    position: absolute;
    top:1rem; left: 1rem;
    padding:.7rem 1rem;
    font-size: 2rem;
    color: #000000;
    background:rgb(235, 154, 154);
    z-index: 1;
    border-radius: .5rem;
}


.productos .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rm;
    overflow: hidden;
}

.productos .box-container .box .image img{
    height:25rem;

}

.productos .box-container .box:hover .image img{
    transition: scale(1.1);
}


.productos .box-container .box .image .icons{
    position: absolute;
    bottom:-7rem; left: 0; right: 0;
    display: flex;
}

.productos .box-container .box:hover  .image .icons{

bottom:0;
}



.productos .box-container .box .image .icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: #eb930f;
    color: #eee;
}


.productos .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #ffff72;
    border-right: .1rem solid #ffff72 ;
    width: 100%;

}


.productos .box-container .box .image .icons a:hover{
   
    background: rgb(236, 60, 6);
}

.productos .box-container .box .content{
    padding:2rem;
    text-align: center;

}

.productos .box-container .box .content h3{
    font-size: 2.5rem ;
    color: #020202;
}



.productos .box-container .box .content .price{
    font-size: 2.5rem ;
    color: #eb930f;
    font-weight: bolder;
    padding-top: 1rem;

}

.productos .box-container .box .content .price span{
    font-size: 1.5rem ;
    color: #999;
    font-weight: lighter;
   text-decoration: line-through ;
}






.contact .row{

    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items:center ;
}

.contact .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1re #eb930f;
    border:.1rem solid #020202;
    background: #fff;
   border-radius: .5rem;
}


.contact .row .image{
    flex:1 1 40rem;
 }


 .contact .row .image img{
    width: 100%;
 }
    
 .contact .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border:.1rem solid #020202;
    border-radius: .5rem;
    margin:.7rem 0;
    width:100% ;
 }

 .contact .row form .box:focus{
    border-color: #eb930f;
 }
 .contact .row form textarea{
    height: 15rem;
    resize: none;
 }
 



 .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;

 }

 .footer .box-container .box{
    flex:1 1 25rem;
 }

 
 .footer .box-container .box h3{
  color: #333;
  font-size: 2.5rem;
  padding:1rem 0;
 }


 .footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding:1rem 0;
   }


   .footer .box-container .box a:hover{
    color: #eb930f;
    text-decoration: underline;
   }


   .footer .credit{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    color: #333;
    border-top:  .1rem solid #eb930f;

   }


   .footer .credit span{
    color: #000000;
   }

























/*media queries */


@media (max-width:991px){
    html{
        font: size 55%; 
    }
    header{
        padding:2rem;
    }
    section{
        padding:1rem;
    }
    .home{
        background-position:left;
    }
}


@media (max-width:768px){
     
    header .fa-bars{
        display: block ;
    }

    header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }

    header #toggle:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background: #fff;
        border:.1rem solid rgba(0, 0, 0,.1);
        display: block;
    }
    .home .content h3{
        font-size:5rem;
    }
    .home .content span{
        font-size:2.5rem;
    }

    .icons-container h3{ 
        font-size: 2rem ;
    
    }
    
    .icons-container span{

        font-size: 1.9rem ;
    
    }

    
}




@media (max-width:450px){
    html{
        font: size 50%; 
    }
    .heading{
        font-size: 3rem;

    }
   
}

</style>
</head>
<body>
<!-- menú -->
    <header>

        <input type="checkbox" name="" id="toggle">
        <label for="toggle" class="fas fa-bars"></label>


        <a href="#" class="logo">OmegaPetShop<span>🐾</span></a>
        <nav class="navbar">
        
            <a href="productos.html">Productos</a>
            <a href="#Sobre Nosotros">Sobre Nosotros</a>

        </nav>
        <div class="icons">

            <a href="#" class="fas fa-share"></a>
            <a href="/login/index" class="fas fa-user">Login</a>         



        </div>
    </header>

  <section class="home" id="home">

    <div class="content">
        <h3> Articulos de mascotas</h3>
        <span>De muy buena calidad  </span>
        <p>Articulos para tus mascotas de las mejores veterinarias, importados con la mejor calidad en todo el País
        </p>
        <a href="#" class="btn">shop now</a>
    </div>
  </section>





<!-- Sobre nosotros-->

    <section class="about" id="about">

        <h1 class="heading">  <span> Sobre</span> Nosotros </h1>

        <div class="row">

            <div class="video-container">

                <video src="img/video-perritos.mp4" loop autoplay muted></video>
                <h3>Lo mejor para tu mascota</h3>
            </div>
            
            <div class="content">
                <h3>¿Quienes Somos?</h3>
                <p>Somos OmegaPetShop una WEB donde podras conseguir articulos para tu mascota,
                    de todo el País, y a los mejores precios.  
                </p>
                <p>Si creas una cuenta el envio sera por contraentrega, para que tengas mejor confianza</p>
                <a href="#"  class="btn"> Leer más....</a>
                
            </div>

            
        </div>

    </section>


    <!--Iconos section -->

    <section class="icons-container">

        <div class="icons">
            <img src="'img/camion.png'" alt="Salchicha">
                <div class="info">
                    <h3>Servicio contraentrega</h3>
                    <span>Sin costos adiccionales</span>
                </div>
        </div>

        <div class="icons">
            <img src="img/almacen.png" alt="">
                <div class="info">
                    <h3>Servicios 100% confiables</h3>
                    <span>Sin costos adiccionales</span>
                </div>
        </div>

    </section>



       <!--Prodcutos en descuento section -->


<section class="productos" id="productos">

    <h1 class="heading">Últimos <span> Descuentos</span></h1>

    <div class="box-container">

        <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img1.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Capa de lluvia para perro</h3>
            <div class="price">$80.000 <span>$70.000</span></div>
        </div>
    </div>

    <!--segundo-->

    <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img2.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Shampoo DINKY </h3>
            <div class="price">$15.000 <span>$8.000</span></div>
        </div>
    </div>


    <!--tercero-->


    <div class="box">
        <span class="discount">-5%</span>
        <div class="image">
            <img src="img/img3.webp" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>CanAmor Shampoo para perros y gatos</h3>
            <div class="price">$20.000 <span>$12.000</span></div>
        </div>
    </div>



     <!--cuarto-->


     <div class="box">
        <span class="discount">-12%</span>
        <div class="image">
            <img src="img/img11.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Collar rosado para perros y gatos</h3>
            <div class="price">$30.000 <span>$22.000</span></div>
        </div>
    </div>


     <!--quinto-->


     <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img12.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="cart-btn">Comprar</a>
                 <a href="#" class="fas fa-car"></a>
            </div>
        </div>
        <div class="content">
            <h3>Cuerda de juego para perros</h3>
            <div class="price">%30.000 <span>$20.000</span></div>
        </div>
    </div>


    <!--sexto-->


    <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
            <img src="img/img10.jpg" alt="">
            <div class="icons">
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="fas fa-car"></a>
                 <a href="#" class="cart-btn">Comprar</a>
            </div>
        </div>
        <div class="content">
            <h3>Collar de metal para perros raza grande </h3>
            <div class="price">$35.000 <span>$10.000</span></div>
        </div>
    </div>


    

</div>

<a href="productos.html"  class="btn"> Ver más</a>
</section>


<!--Contactanos sectioon-->

<section class="contact">


    <h1 class="heading"> <span>Contactanos</span>📞</h1>

    <div class="row">

    <form action="">

        <input type="text" placeholder="name" class="box">
        <input type="email" placeholder="email" class="box">
        <input type="number" placeholder="number" class="box">
        <textarea name=""  placeholder="message"  class="box " cols="30" rows="10">
        </textarea>
    <input type="submit" value="send message" class="btn">
    </form>

    <div class="image">
        <img src="img/conntactus.webp" alt="">
    </div>



    </div>


</section>



<!--FOOTERRRR-->

    <section class="footer">
    

    <div class="box-container">
        <div class="box">

        <h3>Links</h3>
        <a href="#">Tiendas</a>
        <a href="#">Productos</a>
        <a href="#">Sobre Nosotros</a>
       </div>
  


     

    
    <div class="box">
        <h3>ExtraLinks</h3>
        
        <a href="#">FaceBook</a>
        <a href="#">Instragram</a>
        <a href="#">WhatsApp</a>

    </div>
   

        <div class="box">
        <h3>Ubicaciones</h3>
        <a href="#">Tiendas</a>
        <a href="#">Productos</a>
        <a href="#">Sobre Nosotros</a>
    </div>


  
        <div class="box">
        <h3>Información</h3>
        <a href="#">-777777</a>
        <a href="#">OmegaPetShop@gmail.com</a>
        <a href="#">perritos lindos</a>
    </div>
    
       </div>
    </div>


    <div class="credit">creado por <span>AIKO CAMACHO 🦝</span> 
     </div>
 

</section>

</body>
</html>